*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.navbar-box {
    width: 100%;
    padding: 12px 40px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.03);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
}

.navbar-logo-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo img {
    width: 45px;
    border: none;
    border-radius: 8px;
}

.navbar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-text h2 {
    font-weight: 750;
    font-size: 20px;
    margin: 0px;
    text-transform: uppercase;
    color: #0f172a;
    letter-spacing: 0.5px;
}

.navbar-text p {
    margin: 0px;
    font-size: 13px;
    color: #64748b;
    font-weight: 500;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar-links a {
    text-decoration: none;
    color: #475569;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.4s ease;
    position: relative;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: rgb(11, 85, 235);
    transition: width 0.5s ease;
}

.navbar-links a:hover, .navbar-links a.active {
    color: rgb(11, 85, 235);
}

.navbar-links a:hover::after, .navbar-links a.active::after {
    width: 100%;
}

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar-actions a {
    text-decoration: none;
    color: #475569;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.4s ease;
}

.navbar-actions a:hover {
    color: rgb(11, 85, 235);
}

.get-started-button {
    color: white;
    background-color: rgb(11, 85, 240);
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.3px;
    border: 2px solid rgb(11, 85, 235);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

.get-started-button:hover {
    background-color: white;
    color: rgb(11, 85, 235);
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(11, 85, 235, 0.2);
}